<div style="z-index: 1; position: absolute; top: 0; left: 0; right: 0;">
    <div class="navbar">
        <a class="dilog"><img src="../../assets/logo.jpg" width="30%" alt=""></a>
        <ul class="navbarbutten">
            <li class="navbtn"><a [routerLink]="['/map-box']">Home</a></li>
            <li class="navbtn" *ngIf='userType === "super_admin"'><a [routerLink]="['/user']">User</a></li>
            <li class="navbtn" (click)="logOut()" >Logout</li>
        </ul>
    </div>
</div>
